.profile__info {
  position: relative;
  max-width: 294px;
  min-height: 128px;
  display: flex;
  align-items: center;

}

/* @media screen and (max-width: 880px) {
  .profile__info{
    flex-direction: column;
  }
} */
